* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
margin:auto;
padding: 10px;
font-size: 2rem;
}

.menus{
    display: flex;
    align-items: center;
    justify-content: space-between;
}