* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
margin:auto;
padding: 10px;
font-size: 5rem;
}

.menus{
    display: flex;
    justify-content: space-between;


}