* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
margin:auto;

font-size: 2rem;
}

.menu{
    background-color: aquamarine;
    display: flex;
    text-align: center;
    justify-content: space-between;
}